@import './variables.scss';

.practice{width: 100%; border-bottom: 1px solid gray; background-color:#4b5320;
}
.practice>div{
    font-weight: 700;
    font-size: 24px;
    margin-left: 45%;
    display: inline-block;
}
.practice>a>img{
    width: 35px;
    padding-left: 10px;
}
.alde{
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgb(255,255,255);
}
.about{
width: 100%;

}
.about-main{
    
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    padding-top: 50px;
    padding-bottom: 20px;
}
hr{
    color: $accent-color;
}
.about-main>img{
    margin-left: 7%;
    object-fit: contain;

}
.about>h2{
    padding-left: 20%;
    padding-right: 20%;
}
.about>.Messenger-block{
    background: none;
}
.about>.Messenger-block>h2{
color: black;}
.about-text{
    padding-top: 3%;
    width: 40%;
}
.about>h1{
    color: black;
    width: 100%;;
font-size: 34px;
text-align: center;
text-shadow: none;}
.about>p{
    font-size: 24px;
    margin-top: 5px;

}
.about>p:nth-child(n){
    margin-top: 20px;
}
.butcall{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.about>h3{
font-size: 28px;
}
.onasblock{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 20px;
}
.onasblock>.Ownerb{
background-position: center;
height: 900px;
width: 50%;

}
.breezetext{
    width: 50%;
}
.breezetext>p{
    
    font-size: 21px;
padding: 15px;
}
.Titles{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
}
.p-text-enb{
    display: none;
}

.numbrdeals{
    width: 100%;
    background-image: url(/icons/onasphoto.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: white;
    backdrop-filter: blur(50px);
}
.numbrdeals>h2{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 35px;

}
.deals{display: flex;
    flex-direction: row;
    justify-content: center;}
.deal{
    height: 100%;
    text-align: center;
    width: 30%;
}
.deal>p{
    padding-top: 50px;
    font-size: 72px;
    font-weight: 1000;
    padding-bottom: 25px;
}
.deal>div{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    padding-bottom: 30px;
}
.textbeg{
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
#dykg{
padding: 20px;
    background-color: #d5dad291;
}
.textonascon{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 21px;
    padding-right: 35%;
}
#dykg>h3{
    padding-top: 0px;
}
.allos>h1{
    text-align: center !important;
}
.Nlawcomp{
    width: 80%;
    margin: auto;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.Nlawcomp>p{
    padding-top: 20px;
}

.nasnas{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}
.textnas{
    width: 60%;
    height: 300%;
}
.citata-mob{
    display: none;
}
.enbmob{
    display: none;
}
.p-text{
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.textnas>p{
    padding: 20px;
    padding-left: 0px;
}
.textnas>p:first-child{
    padding-top: 0px;
}
.allos>.Messenger-block{
    background: none;
    color: $black-text;
}
.allos>.Messenger-block>h2{
    color: $black-text;
}

.photonasnas{
    background-image: url("/icons/onasphoto.png");
    width: 436px;
    height: 477px;
    background-repeat: no-repeat;
object-fit: contain;
background-position: center;
}
.citata-onas{
    padding: 20px;
    width: 770px;
    background-color: white;
    box-shadow: -4px 4px 4px 0px rgba(34, 34, 34, 0.25);
    position: relative;
    top: 63%;
    right: 155%;

}
.named{
    position: relative;
    right: 103%;
    top: 67%;
}
.p-text{
    padding-top: 30px;
    text-align: left;
}
.named>p{
    text-align: end !important;
}
.named-mob{
    display: none;
}
.textnas-mob{
    display: none;
}
.textnas-mob>p:last-child{
    padding-top: 20px;
}
.big-let{
    font-size: 23px !important;
}

@media (max-width:1430px) {
.enbmob{
    display: block;
}
.dismob{
    display: none;
}
.citata-onas{
    padding: 20px;
    width: 560px;
    background-color: white;
    right: 113%;

}
.Nlawcomp{
    width: 95%;
}
.nasnas{
    width: 95%;
    justify-content: space-between;

}
.photonasnas{
    width: 325px;
    height: 413px;
    background-size: cover;
}


}
@media (max-width:730px){
.textnas{
    display: none;
}
.citata-onas{
    display: none;
}
.named{
    display: none;
}
.p-text{
    width: 95%;
}
.citata-mob{
    display: block;
    box-shadow: -4px 4px 4px 0px rgba(34, 34, 34, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.nasnas{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.named-mob{
    display: block;
}
.named-mob>p{
    text-align: center;
}
.named-mob>p:first-child{
    padding-top: 20px;
}
.named-mob>p:last-child{
    padding-bottom: 20px;
}
.photonasnas{
    width: 275px;
    height: 330px;
}
.textnas-mob{
    display: block;
}
}



@media (max-width:560px) {
    .p-text-dis{
        display: none;
    }
    .p-text-enb{
        display: block;
        order: -1;
        width: 100%;
        padding-bottom: 20px;
    }
    .about-main{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .about > h2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
    .about-main>img{
        margin: 0;
        order: -1;
        width: 310px;
        height: 280px;
    }
    .about-text{
        width: 100%;
    }


}

